<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="lib/bootstrap-4.0.0/css/bootstrap.css">



        <title>Uploader</title>
    </head>
    <body class="">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="index.php"> <span class="fa fa-folder"></span> Uploader</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="index.php"><span class="fa fa-home"> </span> Home<span class="sr-only">(current)</span></a>
            <a  data-toggle="modal" data-target="#modalSobre" class="nav-item nav-link active" href="#" id="sobre"><span class="fa fa-info"> </span> Sobre</a>
            <a data-toggle="modal" data-target="#exampleModal" class="nav-item nav-link active" href="#"><span class="fa fa-support"> </span> Ajuda</a>
            <a class="nav-item nav-link disabled" href="#"></a>
        </div>
        </div>
        </nav>